.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 60px;
    background-color: #2ecc71;
    border-bottom: 0.25em solid #27ae60;
    margin-bottom: 10px;
    display: inline-flex;
    z-index: 10;
}

body {
    line-height: 17px;
    background-color: #e8e8e8;
}

.logo a {
    font-family: 'Bellota-BoldItalic', sans-serif;
    margin-left: 10px;
    font-size: 50px;
    position: relative;
    top: 20px;
    color: white;
}

a:hover {
    text-decoration: none;
    color: darkblue;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column {
    background-color: white;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #d3d3d3;
    z-index: -1;
}

.user_details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.user_details_left_right {
    width: 125px;
    display: inline-block;
    position: absolute;
}

.user_details img {
    height:125px;
    width: 125px;
    border-radius: 50%;
    margin-right: 5px;
}

.main_column {
    float: right;
    width: 70%;
    z-index:-1;
    min-height: 260px;
}

.post_form {
    width: 100%;
}

.post_form textarea {
    width: 80%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #d3d3d3;
    font-size: 15px;
    padding: 5px;
}

.post_form input[type="submit"] {
    width:12%;
    height: 60px;
    border:none;
    border-radius: 5px;
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: white;
    background-color: #2ecc71;
    font-size: 150%;
    position: absolute;
    outline:0;
    margin:0;
}


.post_form input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
    background-color: rgba(46, 204, 113, 0.58);
}